.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

/* Components */
#navbar{
    padding:8px 8%; 
    background-color: #666666 !important;
}
#wrapper{
    height: 100vh; 
    padding-top: 1%;
    background-color: #eff2f4;
}
.innerWrapper{
    background-color: #fff;
    padding:2%;
    margin: 1% 0;
}
.btn-primary{
    color: #eebfbf !important;
    background-color: #393e6f !important;
}
.table thead th, .table tbody td{
    text-align: left;
}
thead{
    background-color: #cccccc;
}
.required:after{
    content:'*';
}
.form-label{
    font-weight: bold;
}
.bucket-name:hover{
    background-color:#f3c0c0;
    cursor:pointer;
}
.bucket-name{padding:10px;}
#back{cursor: pointer;}